# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Model
models/

# Dataset
data/


# Output
results/
history/
figures/
splits/

# Kaggle
working/
input/

# Cache
.cache/

# Torch
*.pth

# CSV Result
summary_result.csv
